<template>
  <v-card>
    <v-toolbar card>
      <v-icon>mdi-silverware</v-icon>
      <v-toolbar-title>Local Hotspots</v-toolbar-title>
    </v-toolbar>
    <v-layout>
      <v-flex>
        <v-card-text>
          <v-treeview
            v-model="tree"
            :load-children="fetch"
            loading-icon
            :items="items"
            activatable
            active-class="grey lighten-4 indigo--text"
            open-on-click
            selectable
            selected-color="indigo"
            expand-icon="mdi-chevron-down"
            on-icon="mdi-bookmark"
            off-icon="mdi-bookmark-outline"
            indeterminate-icon="mdi-bookmark-minus"
          ></v-treeview>
        </v-card-text>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex sx12 md6 id="scroll-target" class="scroll-y">
        <v-card-text v-scroll:#scroll-target="onScroll" column>
          <div
            v-if="selections.length === 0"
            key="title"
            class="title font-weight-light grey--text pa-3 text-xs-center"
          >Select your favourite breweries</div>
          <v-scroll-x-transition group hide-on-leave>
            <v-chip v-for="(selection, i) in selections" :key="i" color="grey" dark small>
              <v-icon left small>mdi-beer</v-icon>
              {{ selection.name }}
            </v-chip>
          </v-scroll-x-transition>
        </v-card-text>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    offsetTop: 0,
    breweries: [],
    isLoading: false,
    tree: [],
    types: []
  }),
  // mounted() {
  //   fetch("https://api.openbrewerydb.org/breweries")
  //     .then(res => res.json())
  //     .then(data => {
  //       this.breweries = data;
  //       console.log(this.breweries);
  //     })
  //     .catch(err => console.log(err));
  // },
  computed: {
    items() {
      const children = this.types.map(type => ({
        id: type,
        name: this.getName(type),
        children: this.getChildren(type)
      }));
      return [
        {
          id: 1,
          name: "All Breweries",
          children
        }
      ];
    },
    selections() {
      const selections = [];

      for (let leaf of this.tree) {
        const brewery = this.breweries.find(brewery => brewery.id === leaf);
        if (!brewery) continue;
        selections.push(brewery);
      }
      return selections;
    },
    shouldShowTree() {
      return this.breweries.length > 0 && !this.isLoading;
    }
  },
  watch: {
    breweries(val) {
      this.types = val
        .reduce((acc, cur) => {
          let type = cur.brewery_type;
          if (!acc.includes(type)) acc.push(type);
          return acc;
        }, [])
        .sort();
    }
  },
  methods: {
    onScroll(e) {
      this.offsetTop = e.target.scrollTop;
    },
    fetch() {
      if (this.breweries.length) return;
      return fetch("https://api.openbrewerydb.org/breweries")
        .then(res => res.json())
        .then(data => {
          this.breweries = data;
          console.log(this.breweries);
        })
        .catch(err => console.log(err));
    },
    getChildren(type) {
      const breweries = [];
      for (let brewery of this.breweries) {
        if (brewery.brewery_type !== type) continue;

        breweries.push({
          ...brewery,
          name: this.getName(brewery.name)
        });
      }

      return breweries.sort((a, b) => {
        return a.name > b.name ? 1 : -1;
      });
    },
    getName(name) {
      return `${name.charAt(0).toUpperCase()}${name.slice(1)}`;
    }
  }
};
</script>

