<template>
  <v-navigation-drawer permanent app clipped>
    <v-treeview
      :active.sync="active"
      v-model="tree"
      :items="items"
      :load-children="fetch"
      loading-icon
      item-key="id"
      activatable
    >
      <template v-slot:label="{ item, active }">
        <v-btn flat @click="show">
          <v-icon>{{ icons[item.icon] }}</v-icon>
          {{ item.name }}
        </v-btn>
      </template>
    </v-treeview>
    <v-menu v-model="showMenu" :position-x="x" :position-y="y" absolute offset-y>
      <v-list>
        <v-list-tile v-for="menuItem in menuItems" :key="menuItem" @click="clickAction">
          <v-list-tile-title>{{menuItem}}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-navigation-drawer>
</template>

<script>
import data from "@/data/xmigrator.json";
import { setTimeout } from "timers";

export default {
  name: "App",
  components: {},
  data() {
    return {
      data: [],
      types: [],
      tree: [],
      active: [],
      showMenu: false,
      x: 0,
      y: 0,
      menuItems: ["Database Add", "Environment Refresh", "Show _Nodes Info"],
      title: "Click to load...",
      icons: {
        open: "mdi-folder-outline",
        head: "mdi-lightbulb-on",
        test: "mdi-test-tube",
        db: "mdi-database",
        m: "mdi-alpha-m-circle-outline",
        t: "mdi-alpha-t-circle-outline",
        v: "mdi-alpha-v-circle-outline",
        f: "mdi-alpha-f-circle-outline",
        p: "mdi-alpha-p-circle-outline"
      }
    };
  },
  computed: {
    items() {
      const children = this.types.map(type => ({
        id: type,
        icon: "test",
        name: this.getName(type),
        children: this.getChildren(type)
      }));
      return [
        {
          id: 1,
          name: this.title + "(Project)",
          icon: "head",
          children
        }
      ];
    }
  },
  watch: {
    data(val) {
      this.types = Object.keys(this.data.envs);
      this.title = this.data.title;
    }
  },
  methods: {
    fetch() {
      if (this.data.length) return;
      return fetch("/xmigrator.json")
        .then(res => res.json())
        .then(resData => {
          this.data = resData;
        })
        .catch(err => console.log(err));
    },
    getName(name) {
      return name + "(Env)";
    },
    getChildren(type) {
      const dbs = [];
      let x = 0;
      for (let db of this.data.envs[type]) {
        dbs.push({
          id: db.connection.database,
          name: db.connection.database,
          icon: "db",
          children: [
            {
              id: `${x++}_${db.connection.database}`,
              name: "Migrations",
              icon: "m"
            },
            {
              id: `${x++}_${db.connection.database}`,
              name: "Tables",
              icon: "t"
            },
            {
              id: `${x++}_${db.connection.database}`,
              name: "Views",
              icon: "v"
            },
            {
              id: `${x++}_${db.connection.database}`,
              name: "Functions",
              icon: "f"
            },
            {
              id: `${x++}_${db.connection.database}`,
              name: "Procedures",
              icon: "p"
            }
          ]
        });
      }
      return dbs;
    },
    clickAction(e) {
      alert("clicked");
    },
    show(e) {
      e.preventDefault();
      setTimeout(() => {
        this.showMenu = false;
        this.x = e.clientX;
        this.y = e.clientY;
        this.types.forEach(type => {
          if (type === this.active[0]) {
            this.$nextTick(() => {
              this.showMenu = true;
            });
          }
        });
      }, 0);
    }
  }
};
</script>

