<template>
  <v-app>
    <v-toolbar flat app clipped-left>
      <v-toolbar-title class="headline text-uppercase">
        <span>Treeview</span>
        <span class="font-weight-light">XC</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat>
        <span class="mr-2">Latest Release</span>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  app: "name",
  components: {},
  data() {
    return {};
  }
};
</script>
